.fairytale {
	background: linear-gradient(to bottom, white, rgb(354, 252, 241) 1%);
	position: relative;

	//center and size the name image
	.name {
		display: block;
		width: 60vw;
		height: auto;
		margin: 0 auto -25vh auto;
		//fade out the edges
		mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%), linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
		mask-composite: intersect;
	}
	//optional: spacing for all playing cards
	.playing-card {
		margin: auto;
	}

	.scroll-line {
		position: absolute;
		top: 15vh; //start under the image
		left: 50%;
		width: 2px;
		height: 99%;
		background-color: rgb(208, 175, 91);
		transform: translateX(-50%);
		transform-origin: top;
		pointer-events: none;
		z-index: 0;
	}
}
