.playing-card {
	background: rgb(354, 270, 271);
	border: 0.3vh solid rgb(144, 127, 82);
	border-radius: 2vw;
	padding: 2vw;
	margin: 50vh auto !important;
	width: 80%;
	max-width: 50vw;
	box-shadow: 1.5vh 1.5vh 2vh rgba(0, 0, 0, 0.1);

	position: relative;
	font-family: "Georgia", serif;
	text-align: center;

	.card-corner {
		position: absolute;
		font-size: 4vh;
		color: rgb(215, 149, 113);
	}

	.top {
		top: 1vh;
		left: 1vw;
	}

	.bottom {
		bottom: 1vh;
		right: 1vw;
		transform: rotate(180deg);
	}

	.card-content {
		color: #35291d;
		font-size: 4vh;
		line-height: 1.6;
		padding: 4vh 0vh;
	}
}
