.footer_div1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ebf5ec;
	padding: 0vh 14.8vw;
	height: 30vh;
	width: 70%;
	margin: 0 auto;

	img {
		height: 23vh;
		object-fit: contain;
		margin: 0vh 5vw;
	}
}

.footer_div2 {
	display: flex;
	flex-direction: column;
	margin-left: -5vw;
	width: 70%;
	p {
		text-align: left;
		font-size: 1vw;
		line-height: 2.5vh !important;
		color: #333;
		line-height: 1.6;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 400;
	}

	button {
		background-color: #000;
		border: none;
		border-radius: 10vw;
		padding: 0.8vw 3.6vw;
		width: fit-content;

		p {
			margin: 0;
			font-size: 1vw;
			color: white;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: 400;
		}
	}
}
