@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.list_div1 {
	width: 70%;
	//background-color: pink;
	margin: 0 auto;
	margin-bottom: 5vh;

	h1 {
		font-family: "Bungee", sans-serif;
		font-size: 2.2vw;
		color: #e51b31;
		margin-left: -0.5vw;
		margin-bottom: 4vh;
	}
}

.list_grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
	gap: 3vw 2vw;
	justify-items: center;
}
