.playing-card {
	background: rgb(354, 270, 271);
	border: 0.3vh solid rgb(144, 127, 82);
	border-radius: 1rem;
	padding: 1.5rem;
	margin: 50vh auto !important;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	position: relative;
	font-family: "Georgia", serif;
	text-align: center;

	.card-corner {
		position: absolute;
		font-size: 4vh;
		color: rgb(215, 149, 113);
	}

	.top {
		top: 0.5rem;
		left: 1rem;
	}

	.bottom {
		bottom: 0.5rem;
		right: 1rem;
		transform: rotate(180deg);
	}

	.card-content {
		color: #333;
		font-size: 4vh;
		line-height: 1.6;
		padding-top: 1.5rem;
	}
}
