.scene5 {
	position: relative;
	height: 300vh;
	//fade top and bottom
	-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 2%, black 98%, transparent 100%);
	mask-image: linear-gradient(to bottom, transparent 0%, black 2%, black 98%, transparent 100%);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;

	.scene-sticky {
		position: sticky;
		top: 0;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("/scene5background.png") no-repeat center center / cover;
		z-index: 0;
	}

	.content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.interactive-image {
		transition: transform 0.3s;
		cursor: pointer;
		cursor: pointer;
		z-index: 10;
		position: absolute;
		left: 11%;
		top: 50%;
		pointer-events: auto;

		&:hover {
			transform: scale(1.05);
		}
	}
	.drag-area {
		position: relative;
		width: 80%;
		height: 200%;
		.draggable-image {
			margin-left: 35%;
			margin-bottom: 25vh;
		}
	}
}
